#about-page {
    padding-top: 120px;

    .section{
        padding: 20px 0px 100px 0px
    }
}

#about-biography{
    
    @include card;

    p {
        margin-left: 1rem;
        margin-block-end: 0.5rem;
    }

    h4:first-of-type {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    h4 {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

}
