#main-container{
    @include card;
}

p {
    margin-left: 1rem;
    margin-block-end: 0.5rem;
}

h4:not(:first-of-type) {
    margin-bottom: 1rem;
}

h4:not(:first-of-type) {
    margin-top: 2rem;
}