//navbar navbar-expand-lg main-nav main-nav-black nav-top

#main-nav {
  height: 100px;

  .navbar-nav .nav-link {
    text-transform: uppercase;
    color: $white;
    font-size: 20px;
    font-family: $button-font;
    font-weight: 300;
    padding-left: 35px;
    padding-right: 20px;
    padding-bottom: 0px;
  }

  .navbar-nav.extra-nav .nav-link {
    padding-left: 30px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-collapse {
    background-color: $secondary-color;
  }
}

.navbar-brand {
  font-size: 40px;
  color: $white;
  font-weight: 300;
  font-family: $heading-font;
}

.nav-top {
  background: $secondary-color;
  transition: .0s all ease;
  z-index: 99999;
}

//  Dropdown Menu
.dropdown {
  position: relative;
}

.navbar {
  @include desktop {
    //background: $secondary-color;
    z-index: 99999;
  }

  .dropdown {
    &:hover {
      .dropdown-menu {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
      }
    }

    &-menu {
      box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
      padding: 15px;
      border: 0;
      border-radius: 0;
      background: $white;
      top: 90%;
      left: 0px;
      margin-top: 20px;
      display: block;
      visibility: hidden;
      opacity: 0;
      right: 0px;
      transition: all .45s ease;
      width: 250px;

      @include desktop {
        display: none;
        opacity: 1;
        visibility: visible;
        margin-top: 0;
        width: 100%;
      }

      &.show {
        visibility: hidden;

        @include desktop {
          visibility: visible;
          display: block;
          text-align: center;
        }
      }
    }
  }
}


.navbar-toggler span {
  @include desktop {
    color: $white;
  }
}

.dropdown-item {
  padding: 9px 23px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

.dropdown-item:hover {
  background: $secondary-color;
  color: $white !important;
}

.b-logo {
  display: none;
}

#main-nav.main-nav-black .w-logo {
  display: none;
}

#main-nav.main-nav-black .b-logo {
  display: block;
}

#main-nav.main-nav-black.nav-top .w-logo {
  display: block;
  color: $white;
}

#main-nav.main-nav-black.nav-top .b-logo {
  display: none;
}

#main-nav.main-nav-black {
  @include desktop {
    .w-logo {
      display: block;
    }

    .b-logo {
      display: none;
    }
  }
}


.logo {
  font-size: 40px;
  font-weight: 700;
  color: $white;
}

@include mobile {
  .navbar-collapse {
    text-align: center;
    padding: 20px;
  }

  #main-nav .navbar-nav .nav-link {
    padding: 0px;
  }
}

@include mobile-xs {
  .navbar-collapse {
    text-align: center;
    padding: 20px;
  }

  #main-nav .navbar-nav .nav-link {
    padding: 0px;
  }

  .navbar-toggler span {
    color: $white;
  }
}

@include tablet {
  .navbar-collapse {
    //position: absolute;
    //right: 0px;
    //top: 100px;
    //width: 240px;
    //height: 100vh;
    
    text-align: center;
    padding: 20px;
  }

  #main-nav .navbar-nav .nav-link {
    padding: 0px;
  }

  .navbar-toggler span {
    color: $white;
  }
}

.menu-left {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  box-sizing: border-box;
  padding: 55px;

}

.main-content-right {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  box-sizing: border-box;

}

.collapse:not(.show) {
  @include desktop {
    display: none !important;
  }
}

#main-nav.main-nav-black .navbar-toggler span {
  color: $black;
  transition: color 0.3s ease;
}

#main-nav.main-nav-black.nav-top .navbar-toggler span {
  color: $white !important;
}

.main-nav.main-nav-black.hide-nav.nav-top .navbar-toggler {
  span {
    color: $white;
  }
}

.main-nav.main-nav-black.hide-nav {
  @include desktop {
    .navbar-toggler {
      span {
        color: $white;
      }
    }
  }
}

.main-nav.main-nav-black .nav-top .navbar-toggler {
  span {
    color: $white;
  }
}

.main-nav.main-nav-black {

  @include desktop {
    .navbar-toggler {
      span {
        color: $black;
      }
    }
  }
}

#main-nav.main-nav-black .navbar-brand {
  color: $black;
}

#main-nav.main-nav-black .navbar-brand {
  color: $black !important;
}

#main-nav.main-nav-black .navbar-nav .nav-link {
  color: $black !important;
}

#main-nav.main-nav-black.nav-top .navbar-nav .nav-link {
  color: $white !important;
}

#main-nav.main-nav-black {
  @include desktop {
    .navbar-nav .nav-link {
      color: $white !important;
    }
  }
}
