.banner {
  display: flex;
  padding: 120px 0;

  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
  }
  
  &.banner-hero {
    background-image: url('/assets/images/portfolio/wind/Wind_render_01b.jpg'); /* Replace with the actual image URL */

    h2 {
      font-size: 80px;
      line-height: 80px;
      color: $white;
    }
  }

  &.banner-2 {
    border-top: white solid 3px;
    background-image: url('/assets/images/portfolio/wind/Wind_render_02.png'); /* Replace with the actual image URL */
    
    .banner-content-2{
      padding-bottom: 40px;
    }

    h2 {
      font-size: 60px;
      line-height: 70px;
    }
    
    p {
      color: rgba(255, 255, 255, .7);
      padding-right: 55px;
      font-size: 17px;
    }

  }

  @media screen and (max-width: 1200px) {
    // Medium screens
  }

  @media screen and (max-width: 992px) { // Smaller screens
    padding: 110px 0;
    
    &.banner-hero h2, 
    &.banner-2 h2 {
      font-size: 60px;
      line-height: 60px;
    }font-size: 1.6rem; 
  }

  @media screen and (max-width: 768px) {
    // Tablets
  }

  @media screen and (max-width: 576px) {
    padding: 100px 0;
    
    &.banner-hero h2, 
    &.banner-2 h2 {
      font-size: 40px;
      line-height: 40px;
    }
  }

}