.banner {
  //background: url("../images/banner/banner.jpg") center center no-repeat;
  //background-size: cover;
  padding: 120px 0;
  overflow: hidden;
  
  h2 {
    font-size: 80px;
    line-height: 80px;
    color: $white;
  }

  .banner-img {
    position: absolute;
    content: "";
    bottom: 0px;
    right: 17%;
    @media(max-width:1400px){
      right: 10%;
    }

    @include desktop-lg {
      right: -10%;
    }
  }
}

// Banner-2 Style
.banner-2 {
  overflow: hidden;
  padding: 120px 0px;

  .banner-content-2 {
    padding: 180px 0px 120px 0px;
    @include desktop-lg {
      padding: 150px 0 100px 0;
    }

    h2 {
      font-size: 60px;
      line-height: 70px;
      @include desktop-lg {
        font-size: 50px;
        line-height: 60px;
      }
    }
  }

  p {
    color: rgba(255, 255, 255, .7);
    padding-right: 55px;
    font-size: 17px;
  }

}


@include mobile-xs {
  .banner {
    padding: 100px 0;
    
    h2 {
      font-size: 40px;
      line-height: 40px;
    }
  }
}

@include desktop {
  .banner {
    padding: 110px 0;

    h2 {
      font-size: 60px;
      line-height: 60px;
    }
  }
  .about-banner {
    background-position: 40% 50%;
  }
}