<section class="banner banner-hero position-relative">
	<video autoplay muted loop>
		<source src="{{'/assets/images/portfolio/ltbl/LTBL.mp4' | relative_url}}" type="video/mp4">
	</video>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12">
				<div class="hero-heading">
				Beyond Logic, Embrace Magic
				</div>

				<div class="hero-subheading mt-2">
				Lights for You to Amaze, Delight and Inspire
				</div>
				<p class="my-4"></p>
				<a href="/works" class="btn btn-primary">Explore the Collection</a>
			</div>
		</div>
	</div>
</section>