<section class="banner banner-hero position-relative">
	<video autoplay muted loop>
		<source src="{{'/assets/images/portfolio/ltbl/LTBL.mp4' | relative_url}}" type="video/mp4">
	</video>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12">
				<h2 class="text mt-2">
				Lights for you to
				<br/>
				amaze, delight and inspire
				</h2>
				<p class="my-4"></p>
				<a href="/works" class="btn btn-primary">See All Works</a>
			</div>
		</div>
	</div>
</section>